/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
demo.txt
bug-note.txt
.env.backup
.phpunit.result.cache
bug-note.txt
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
